
 
.App {
    text-align: center;
  }
  .center {
    text-align: center;
   margin: auto;
    width: 50%;
    padding: 30px;
  }
  .wrapper {
    height: 480px !important;
    }
  .Nav{
    width: 30px !important;
    margin-left: 10px;
  }
  #chartID{
    height:auto !important;
  }
  