html {
  z-index: -1;
  --gradDark: hsl(0, 0%, 100%);
  --gradLight: hsl(130, 64%, 74%);
  background: linear-gradient(to bottom, var(--gradDark), var(--gradLight));
}

.App {
    text-align: center;
  }
  .center {
    text-align: center;
   margin: auto;
    width: 60%;
    padding: 30px;
  }
  .wrapper {
    height: 480px !important;
    }
  .Nav{
    width: 30px !important;
    margin-left: 10px;
  }
  #chartID{
    height:auto !important;
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

}

.selectEXcelOne{
  width: 250px  !important;
}
