html {
  background-color: #e9e3e3;
}


text{font-size: small;}
.Login {
  text-align: center;
  background-color: #e9e3e3;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.backgourndLogin{
  --gradDark: hsla(0, 0%, 100%, 0.906);
--gradLight: hsla(112, 20%, 64%, 0.728);
background: linear-gradient(to bottom, var(--gradDark), var(--gradLight));
text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="resize"] {
    width: 100%;
  }
}
.resize{
  width: 50%;
}

.inputsize{
width:auto;
}
.center {
  background-color: rgba(255, 255, 255, 0.356);
  text-align: center;
 margin: auto;
  width: 60%;

  padding: 30px;
}
.mt-nta{
  margin-top: 140px;
}


